recursive-include lomap/tests  *sdf
recursive-include lomap/tests  *mol2
recursive-include lomap/tests  *gpickle
recursive-include lomap/tests  *pickle
recursive-include lomap/tests  *txt


include MANIFEST.in
include README.md
include LICENCE.txt
include examples/example.py
include versioneer.py
include lomap/_version.py
