graft src/lomap
recursive-include src/lomap/tests  *sdf
recursive-include src/lomap/tests  *mol2
recursive-include src/lomap/tests  *gpickle
recursive-include src/lomap/tests  *pickle
recursive-include src/lomap/tests  *txt


include MANIFEST.in
include README.md
include LICENSE.txt
include examples/example.py
include versioneer.py
include src/lomap/_version.py
